[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".vim/bundle/onehalf"]
	path = .vim/bundle/onehalf
	url = https://github.com/sonph/onehalf.git
[submodule ".vim/bundle/sparkup"]
	path = .vim/bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
[submodule ".config/nvim/pack/github/start/copilot.vim"]
	path = .config/nvim/pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim
